In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [2]:
df=pd.read_csv('Bank customer data.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Drop some features that will not be much of connected to the customer stay or leave bank.
df = df.drop({'RowNumber', 'CustomerId', 'Surname','Geography', 'Tenure'}, axis=1)

In [5]:
df.head()

,CreditScore,Gender,Age,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,Female,42,0.00,1,1,1,101348.88,1
1,608,Female,41,83807.86,1,0,1,112542.58,0
2,502,Female,42,159660.80,3,1,0,113931.57,1
3,699,Female,39,0.00,2,0,0,93826.63,0
4,850,Female,43,125510.82,1,1,1,79084.10,0

In [6]:
df.isnull().sum()

CreditScore        0
Gender             0
Age                0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
# change gender to 0 for male and 1 for female
def convert_gender(Gender):
    if(Gender=='Female'):
        return 1
    else:
        return 0
df['Gender'] = df['Gender'].apply(convert_gender)

In [8]:
df.head()

,CreditScore,Gender,Age,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,1,42,0.00,1,1,1,101348.88,1
1,608,1,41,83807.86,1,0,1,112542.58,0
2,502,1,42,159660.80,3,1,0,113931.57,1
3,699,1,39,0.00,2,0,0,93826.63,0
4,850,1,43,125510.82,1,1,1,79084.10,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
CreditScore        10000 non-null int64
Gender             10000 non-null int64
Age                10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(7)
memory usage: 703.2 KB

In [80]:
X = df.drop('Exited', axis=1)
y = df['Exited']

In [81]:
# scale the data to prevent some features dominate the others. For example here, estimate salary and balance.

In [82]:
from sklearn.preprocessing import StandardScaler

In [83]:
scaler = StandardScaler()

In [84]:
X = scaler.fit_transform(X)

In [85]:
from sklearn.model_selection import train_test_split

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=42)

In [87]:
y_train = np.array(y_train)

In [61]:
def minimize_m_b(X_train, y_train,init_m1, init_b1, learning_rate, landa):
    minimize_m = init_m1
    minimize_b = [x for x in init_b1] 
    # without setting up the values for minimize_b in this way, the values for both will keep adding up
    minimized_b = [0 for x in range(regressors)]
    
    for i in range(N):
        sum_m_b = 0 # forgot to put this and cause the huge numbers for m and b
        
        for j in range(regressors):
            sum_m_b += init_b1[j] * X_train[i][j] # sum up b*x in every row
            
        # everything inside the square brackets    
        minimize_m += (y_train[i] * (init_m1 + sum_m_b)) - ((math.exp(init_m1 + sum_m_b))/(1+(math.exp(init_m1 + sum_m_b))))
        
        # everything inside the square bracket and * that extra x
        for k in range(regressors):
            minimize_b[k] += ((y_train[i] * (init_m1 + sum_m_b)) - ((math.exp(init_m1 + sum_m_b))/(1+(math.exp(init_m1 + sum_m_b))))) * X_train[i][k] # result of particla derivative w r t each theta
        
    # finalize theta 0 (b0)    
    minimized_m = init_m1 - learning_rate / N * minimize_m 

    for l in range(regressors):
        minimized_b[l] = init_b1[l] - learning_rate / N * minimize_b[l] + landa / N * init_b1[l]
    return [minimized_m, minimized_b]


def run_minimize_m_b(X_train,y_train,init_m, init_b, learning_rate, num_iteration, landa):
    init_m1 = init_m
    init_b1 = [x for x in init_b]
    for i in range(num_iteration):
        init_m1,init_b1 = minimize_m_b(X_train,y_train, init_m1, init_b1, learning_rate, landa)
    return [init_m1, init_b1, learning_rate, num_iteration, landa] # the problem for the huge numbers are here, after switch to m1 and b1, the number get smaller


regressors = len(X_train[0])
init_m = 0
init_b = [0 for x in range(regressors)]
learning_rate = 0.001
num_iteration = 1000
N = len(X_train)
landa = 1

m, b, learning_rate, iterations, landa = run_minimize_m_b(X_train,y_train, init_m, init_b, learning_rate, num_iteration, landa)
print ("intercept: ",m, "Slope: ",b)

intercept:  0.5126006402491498 Slope:  [0.01412319101929548, -0.01556039617202373, -0.03081946834803461, -0.016701440719902278, -5.997195646000989e-05, 0.0005638743156379965, 0.01900077270132634, 0.008681946960865687]

In [78]:
y_test = np.array(y_test)
X_test = np.array(X_test)

In [51]:
# check how many 1 and 0 in y_test

count_y0 = 0
count_y1 = 0
for i in range(len(y_test)):
    if(y_test[i]==1):
        count_y1 += 1
    else:
        count_y0 +=1
        
print(count_y0, count_y1)

2803 697

In [88]:
# God, I have been using the function for linear regression to calculate the results. lol
pred_y = []
sum_b=0
for x in range(len(y_test)):
    for i in range (regressors):
        sum_b += b[i]*X_test[x][i]
    pred_y.append(1/(1+math.exp(-1*(m + sum_b))))
    sum_b = 0

In [90]:
# are all the predicted values are whithin the boundary of -1 -- 1 ?
count = 0
count2=0
for i in range(len(pred_y)):
    if (pred_y[i] < 0.5):
        count+=1
    else:
        count2+=1
print(count, count2)

0 3500

In [54]:
# This ain't right.