In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [2]:
df=pd.read_csv('Bank customer data.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Drop some features that will not be much of connected to the customer stay or leave bank.
df = df.drop({'RowNumber', 'CustomerId', 'Surname','Geography', 'Tenure'}, axis=1)

In [5]:
df.head()

,CreditScore,Gender,Age,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,Female,42,0.00,1,1,1,101348.88,1
1,608,Female,41,83807.86,1,0,1,112542.58,0
2,502,Female,42,159660.80,3,1,0,113931.57,1
3,699,Female,39,0.00,2,0,0,93826.63,0
4,850,Female,43,125510.82,1,1,1,79084.10,0

In [6]:
df.isnull().sum()

CreditScore        0
Gender             0
Age                0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
# change gender to 0 for male and 1 for female
def convert_gender(Gender):
    if(Gender=='Female'):
        return 1
    else:
        return 0
df['Gender'] = df['Gender'].apply(convert_gender)

In [8]:
df.head()

,CreditScore,Gender,Age,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,1,42,0.00,1,1,1,101348.88,1
1,608,1,41,83807.86,1,0,1,112542.58,0
2,502,1,42,159660.80,3,1,0,113931.57,1
3,699,1,39,0.00,2,0,0,93826.63,0
4,850,1,43,125510.82,1,1,1,79084.10,0

In [9]:
X = df.drop('Exited', axis=1)
y = df['Exited']

In [11]:
# scale the data to prevent some features dominate the others. For example here, estimate salary and balance.

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
scaler = StandardScaler()

In [12]:
X = scaler.fit_transform(X)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [19]:
y_train = np.array(y_train)

In [20]:
def minimize_m_b(X_train,y_train,init_m1 , init_b1, learning_rate, landa):
    minimize_m = init_m1
    minimize_b = [x for x in init_b1] 
    # without setting up the values for minimize_b in this way, the values for both will keep adding up
    minimized_b = [0 for x in range(regressors)]
    
    for i in range(N):
        sum_m_b = 0 # forgot to put this and cause the huge numbers for m and b
        
        for j in range(regressors):
            sum_m_b += init_b1[j] * X_train[i][j]
            
        minimize_m +=  (2*y_train[i]+1)/(math.exp(init_m1 + sum_m_b)+1)
        
        for k in range(regressors):
            minimize_b[k] += (((2*y_train[i]+1)*X_train[i][k]) / (math.exp(init_m1+sum_m_b)+1)) * (1/N) + (X_train[i][k]*landa/N)
        
        
    minimized_m = init_m1 + (learning_rate/N) * minimize_m

    for l in range(regressors):
        minimized_b[l] = init_b1[l] + learning_rate * minimize_b[l]
    return [minimized_m, minimized_b]


def run_minimize_m_b(X_train,y_train,init_m, init_b, learning_rate, num_iteration, landa):
    init_m1 = init_m
    init_b1 = [x for x in init_b]
    for i in range(num_iteration):
        init_m1,init_b1 = minimize_m_b(X_train,y_train, init_m1, init_b1, learning_rate, landa)
    return [init_m1, init_b1, learning_rate, num_iteration, landa] # the problem for the huge numbers are here, after switch to m1 and b1, the number get smaller


regressors = len(X_train[0])
init_m = 0
init_b = [0 for x in range(regressors)]
learning_rate = 0.0001
num_iteration = 500
N = len(X_train)
landa = 100

m, b, learning_rate, iterations, landa = run_minimize_m_b(X_train,y_train, init_m, init_b, learning_rate, num_iteration, landa)
print ("intercept: ",m, "Slope: ",b)

intercept:  0.034964534349749755 Slope:  [0.058645198613769337, 0.006773419376395044, -0.0059350436356891976, -0.029063806560589135, 0.00921778516817446, -0.022584845444746347, -0.027274928313950363, 0.030572297590804803]

In [47]:
y_test = np.array(y_test)

In [48]:
# check how many 1 and 0 in y_test

count_y0 = 0
count_y1 = 0
for i in range(len(y_test)):
    if(y_test[i]==1):
        count_y1 += 1
    else:
        count_y0 +=1
        
print(count_y0, count_y1)

1607 393

In [52]:
# keep it as it is
pred_y = []
sum_b=0
for x in range(len(y_test)):
    for i in range (regressors):
        sum_b += b[i]*X_test[x][i]
    pred_y.append(m + sum_b)
    sum_b = 0
    
pred_y[:20]

[0.029712536154750165,
 0.03639863947871114,
 0.04397594043371371,
 -0.08623393814159588,
 -0.0701004384900725,
 0.14274357832166282,
 -0.1189787719221427,
 -0.0027797627415665146,
 0.0018101415766713022,
 -0.09224630018259483,
 -0.01582816561140951,
 0.1149513897560164,
 0.23240511438484207,
 0.06335210803503341,
 -0.049590929573810845,
 0.052991335728189495,
 -0.005421719216919009,
 -0.09622135268617463,
 0.048207519623189726,
 0.043171040016585616]

In [53]:
# are all the predicted values are whithin the boundary of -1 -- 1 ?
count = 0
for i in range(len(pred_y)):
    if (pred_y[i] <= -0.5 or pred_y[i] >=0.5):
        count+=1
print(count)

0

In [54]:
# huh, looks like all the predicted values are very small. This ain't right.